@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    color: rgba(255, 255, 255, 1);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/fondo.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#btn_start_container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#btn_start{
    min-width: 80vw;
    min-height: 30vh;
    background-image: url('images/boton.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.container{
    min-height: 100vh;
    max-width: 80vw;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: rgba(10, 10, 10, .5);
    border-radius: .5em;
}

#texto{
    font-size: 1.4em;
    font-weight: 600;
    padding: .5em;
    text-align: center;
}

#btn_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_opcion{
    font-size: 1.1em;
    margin: .5em;
    padding: .5em;
    border: .2em solid #000;
    border-radius: .5em;
    background-color: transparent;
    transition: 500ms;
    cursor: pointer;
}

.btn_opcion:hover{
    background-color: rgba(0, 0, 0, 1);
}

#barra_final{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;
}

#vida,
#inventario{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.corazon_box,
.item_box{
    padding: .5em;
    margin: .5em;
    flex-wrap: wrap;
    border: .2em solid #000;
    border-radius: .5em;
}

.corazon,
.item{
    width: 2.5em;
    height: 2.5em;
    border: none;
    outline: none;
}

.hide{
    display: none;
}
